/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("/public/5622975.jpg");
  background-size: contain;
}
.App-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.info-div {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.info-div > h5 {
  font-size: 1em;
}
#line {
  width: 20%;
  height: 0.05em;
  background: #000;
  margin: 0 1em;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 45%;
}
.practical-container {
  display: flex;
  flex-direction: column;
  margin: 1em 4em;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(219, 192, 133);
  /* margin: 2em; */
  padding: 2em;
}
.label-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  font-weight: bold;
}
.label-div > label {
  width: 30%;
}
.label-div > input {
  padding: 1em;
  background: #fff;
  border: none;
  margin: 1em;
  width: 70%;
  outline: none;
}
input:hover {
  background: rgb(209, 204, 204);
}
.form-container-practicalexp {
  background: rgb(219, 192, 133);
  width: 100%;
}
::placeholder {
  color: #000;
}
.new-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 2em;
}
.new-section > p {
  font-weight: bolder;
}
#add-btn {
  font-weight: bold;
  color: #fff;
  /* margin: 0 1em 0 0; */
  cursor: pointer;
  justify-content: center;
  text-align: center;
  height: 2em;
  width: 2em;
  margin: 0 1em 0 0;
  border-radius: 50%;
  background: black;
  padding: 0.5em;
}
#saveBtn {
  padding: 1em;
  justify-self: flex-end;
  background: #000;
  outline: none;
  border: none;
  color: #fff;
  margin: 0 2em;
  cursor: pointer;
}
